# Exclude config file
.vscode/
*.toml

# Exclude executable file
/shiori*
.github/workflows/docker/binaries/

# Exclude development data
/dev-data*

# Coverage data
/coverage.out

# Dist files
dist/
.github/workflows/docker/binaries/

# macOS trash files
.DS_Store
